body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

f-app,
f-header,
f-sidebar,
f-container,
f-content,
f-list,
f-list-item,
f-card,
f-card-body {
    display: flex;
}

f-app {
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

f-header {
    flex-direction: row;
    align-items: center;
    padding: var(--spacing) var(--space-3);
    border-bottom: var(--header-border-style, solid) var(--border-1) var(--header-border-color, var(--border-primary));
}

f-divider[data-direction="vertical"] {
    border-right: 1px solid var(--border-primary);
    margin: 0 var(--space-3);
    height: var(--divider-vertical-height, 70%);
}

f-sidebar {
    flex-direction: column;
    padding: var(--space-2);
    flex-grow: 0;
}

f-container {
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    /* 防止子项溢出 */
}

f-content {
    flex-direction: column;
    padding: var(--space-4);
    max-width: 1600px;
    width: 100%;
    /* 填满剩余空间 */
    min-width: 0;
    /* 防止溢出 */
    flex-grow: 1;
    box-sizing: border-box;
    overflow-x: auto;
    /* 防止内容溢出 */
}

f-list {
    flex-direction: column;
    gap: var(--spacing);

    &[data-hover]:not([data-hover="false"]) {
        >f-list-item[data-active] {
            background-color: var(--color-primary-200);
        }

        >f-list-item:not([data-active]):not([data-hover="false"]):hover {
            background-color: var(--color-primary-100);
        }
    }

    >f-list-item {
        flex-direction: column;
        padding: var(--space-2) var(--space-3);
        border-radius: var(--radius-md);

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

f-list:not([data-divider="false"])>f-list-item:not([data-divider="false"])::after,
f-list-item[data-divider]:not([data-divider="false"])::after {
    content: "";
    position: relative;
    display: block;
    height: var(--border-width, 1px);
    bottom: 0;
    width: 70%;
    background-color: var(--list-divider-color, var(--border-primary));
}

f-card {
    border: var(--border-1) var(--border-style) var(--border-primary);
    border-radius: var(--radius-lg);
    flex-direction: column;

    f-card-body {
        padding: var(--space-4);
    }
}

f-text {
    display: inline-flex;
    flex-direction: row;

    &[data-type="secondary"] {
        color: var(--text-secondary);
    }
}

a[role="button"],
button {
    border-width: var(--border-1);
    border-radius: var(--radius-md);
    padding: var(--button-md-padding);
    background-color: var(--surface-0);
    color: var(--text-primary);
    height: var(--button-md-height);
    transition: all 0.1s;

    &:active {
        box-shadow: 0 0 0 var(--spacing) color-mix(in srgb, var(--text-primary) 10%, transparent);
        transform: translateY(var(--button-active-offset));
    }

    &:focus-visible {
        outline: var(--line-width-focus) var(--line-style-focus) var(--line-color-focus);
        outline-offset: 1px;
    }

    &:hover {
        cursor: pointer;

        &[data-variant="outlined"],
        &[data-variant="dashed"],
        &[data-variant="text"] {
            background-color: var(--color-grey-50);
        }
    }

    &[data-size="sm"] {
        height: var(--button-sm-height);
        padding: var(--button-sm-padding);
    }

    &[data-size="lg"] {
        height: var(--button-lg-height);
        padding: var(--button-lg-padding);
        font-size: var(--text-lg);
    }

    &[data-variant="outlined"] {
        border-color: var(--border-primary);
        border-style: var(--border-style);
    }

    &[data-variant="solid"],
    &[data-variant="filled"],
    &[data-variant="text"],
    &[data-variant="link"] {
        border: none;
    }

    &[data-variant="solid"] {
        color: var(--text-inverted);
        background-color: var(--text-primary);

        &:hover {
            background-color: color-mix(in srgb,
                    var(--text-primary) 90%,
                    transparent);
        }
    }

    &[data-variant="link"]:hover {
        text-decoration: underline;
        text-underline-offset: var(--spacing);
    }

    &[data-variant="dashed"] {
        border-color: var(--border-primary);
        border-style: dashed;
    }

    &[data-variant="filled"] {
        background-color: color-mix(in srgb,
                var(--text-primary) 7%,
                transparent);

        &:hover {
            background-color: color-mix(in srgb,
                    var(--text-primary) 15%,
                    transparent);
        }
    }

    &[data-color="primary"] {
        color: var(--color-primary-700);

        &:hover:not([data-variant="link"]) {
            background-color: color-mix(in srgb,
                    var(--color-primary-700) 10%,
                    transparent);
        }

        &[data-variant="solid"] {
            color: var(--text-inverted);
            background-color: var(--color-primary-700);

            &:hover {
                background-color: color-mix(in srgb,
                        var(--color-primary-700) 80%,
                        transparent);
            }
        }

        &[data-variant="outlined"] {
            border-color: var(--color-primary-700);
        }

        &[data-variant="filled"] {
            background-color: color-mix(in srgb,
                    var(--color-primary-700) 10%,
                    transparent);

            &:hover {
                background-color: color-mix(in srgb,
                        var(--color-primary-700) 20%,
                        transparent);
            }
        }
    }

    &[data-color="success"] {
        color: var(--text-success);

        &:hover:not([data-variant="link"]) {
            background-color: color-mix(in srgb,
                    var(--text-success) 10%,
                    transparent);
        }

        &[data-variant="solid"] {
            color: var(--text-inverted);
            background-color: var(--text-success);

            &:hover {
                background-color: color-mix(in srgb,
                        var(--text-success) 80%,
                        transparent);
            }
        }

        &[data-variant="outlined"] {
            border-color: var(--text-success);
        }

        &[data-variant="filled"] {
            background-color: color-mix(in srgb,
                    var(--text-success) 10%,
                    transparent);

            &:hover {
                background-color: color-mix(in srgb,
                        var(--text-success) 20%,
                        transparent);
            }
        }
    }

    &[data-color="info"] {
        color: var(--text-info);

        &:hover:not([data-variant="link"]) {
            background-color: color-mix(in srgb,
                    var(--text-info) 10%,
                    transparent);
        }

        &[data-variant="solid"] {
            color: var(--text-inverted);
            background-color: var(--text-info);

            &:hover {
                background-color: color-mix(in srgb,
                        var(--text-info) 80%,
                        transparent);
            }
        }

        &[data-variant="outlined"] {
            border-color: var(--text-info);
        }

        &[data-variant="filled"] {
            background-color: color-mix(in srgb,
                    var(--text-info) 10%,
                    transparent);

            &:hover {
                background-color: color-mix(in srgb,
                        var(--text-info) 20%,
                        transparent);
            }
        }
    }

    &[data-color="warning"] {
        color: var(--text-warning);

        &:hover:not([data-variant="link"]) {
            background-color: color-mix(in srgb,
                    var(--text-warning) 10%,
                    transparent);
        }

        &[data-variant="solid"] {
            color: var(--text-inverted);
            background-color: var(--text-warning);

            &:hover {
                background-color: color-mix(in srgb,
                        var(--text-warning) 80%,
                        transparent);
            }
        }

        &[data-variant="outlined"] {
            border-color: var(--text-warning);
        }

        &[data-variant="filled"] {
            background-color: color-mix(in srgb,
                    var(--text-warning) 10%,
                    transparent);

            &:hover {
                background-color: color-mix(in srgb,
                        var(--text-warning) 20%,
                        transparent);
            }
        }
    }

    &[data-color="danger"] {
        color: var(--text-danger);
        border-color: var(--border-danger);

        &:hover:not([data-variant="link"]) {
            background-color: color-mix(in srgb,
                    var(--text-danger) 10%,
                    transparent);
        }

        &[data-variant="solid"] {
            color: var(--text-inverted);
            background-color: var(--text-danger);

            &:hover {
                background-color: color-mix(in srgb,
                        var(--text-danger) 80%,
                        transparent);
            }
        }

        &[data-variant="outlined"] {
            border-color: var(--text-danger);
        }

        &[data-variant="filled"] {
            background-color: color-mix(in srgb,
                    var(--text-danger) 10%,
                    transparent);

            &:hover {
                background-color: color-mix(in srgb,
                        var(--text-danger) 20%,
                        transparent);
            }
        }
    }

    /* shape: circle */
    &[data-shape="circle"] {
        border-radius: 50%;
        padding: 0;
        aspect-ratio: 1 / 1;
        width: var(--button-md-height);
        min-width: var(--button-md-height);
        height: var(--button-md-height);
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    &[data-size="sm"][data-shape="circle"] {
        width: var(--button-sm-height);
        min-width: var(--button-sm-height);
        height: var(--button-sm-height);
    }

    &[data-size="lg"][data-shape="circle"] {
        width: var(--button-lg-height);
        min-width: var(--button-lg-height);
        height: var(--button-lg-height);
    }

    /* shape: round */
    &[data-shape="round"] {
        border-radius: 999px;
    }
}