[data-display="flex-row"],
[data-display="flex-col"] {
    --gap-v: attr(data-gap type(<number>), 3);
    --gap: calc(var(--gap-v) * var(--spacing) * 1rem);

    box-sizing: border-box;
    display: flex;
    min-width: 0;
    gap: var(--gap);

}

[data-display="flex-row"] {
    flex-flow: row wrap;
    align-self: stretch;
    width: 100%;

    > {
        box-sizing: border-box;
    }
}

[data-display="flex-col"] {
    flex-flow: column wrap;
}

[data-display="inline-grid"] {
    display: inline-grid;
}

[data-grid-cols] {
    --grid-cols: attr(data-grid-cols type(<number>), 1);
    grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr));

    &[data-grid-cols="none"] {
        grid-template-columns: none;
    }

    &[data-grid-cols="subgrid"] {
        grid-template-columns: subgrid;
    }

    &:not([data-display="inline-grid"]) {
        display: grid;
    }
}

[data-grid-rows] {
    --grid-rows: attr(data-grid-rows type(<number>), 1);
    grid-template-rows: repeat(var(--grid-rows), minmax(0, 1fr));

    &[data-grid-rows="none"] {
        grid-template-rows: none;
    }

    &[data-grid-rows="subgrid"] {
        grid-template-rows: subgrid;
    }

    &:not([data-display="inline-grid"]) {
        display: grid;
    }
}

[data-col-span] {
    --col-span: attr(data-col-span type(<number>), 1);
    grid-column: span var(--col-span) / span var(--col-span);

    &[data-col-span="full"] {
        grid-column: 1 / -1;
    }
}

[data-col-start] {
    --col-start: attr(data-col-start type(<number>), 1);
    grid-column-start: var(--col-start);

    &[data-col-start="auto"] {
        grid-column-start: auto;
    }
}

[data-col-end] {
    --col-end: attr(data-col-end type(<number>), 1);
    grid-column-end: var(--col-end);

    &[data-col-end="auto"] {
        grid-column-end: auto;
    }
}

[data-row-span] {
    --row-span: attr(data-row-span type(<number>), 1);
    grid-row: span var(--row-span) / span var(--row-span);

    &[data-row-span="full"] {
        grid-row: 1 / -1;
    }
}

[data-row-start] {
    --row-start: attr(data-row-start type(<number>), 1);
    grid-row-start: var(--row-start);

    &[data-row-start="auto"] {
        grid-row-start: auto;
    }
}

[data-row-end] {
    --row-end: attr(data-row-end type(<number>), 1);
    grid-row-end: var(--row-end);

    &[data-row-end="auto"] {
        grid-row-end: auto;
    }
}

[data-grid-flow="row"] {
    grid-auto-flow: row;
}

[data-grid-flow="col"] {
    grid-auto-flow: column;
}

[data-grid-flow="dense"] {
    grid-auto-flow: dense;
}

[data-grid-flow="row dense"] {
    grid-auto-flow: row dense;
}

[data-grid-flow="col dense"] {
    grid-auto-flow: column dense;
}

[data-width] {
    --width-value: attr(data-width type(<number>), 10);
    --width: calc(var(--width-value) * var(--spacing) * 1rem);
    width: var(--width);
}

[data-width="full"] {
    width: 100%;
}

[data-width="screen"] {
    width: 100vw;
}

[data-min-width] {
    --min-width-value: attr(data-min-width type(<number>), 10);
    --min-width: calc(var(--min-width-value) * var(--spacing) * 1rem);
    min-width: var(--min-width);
}

[data-min-width="full"] {
    min-width: 100%;
}

[data-min-width="screen"] {
    min-width: 100vw;
}

[data-height] {
    --height-value: attr(data-height type(<number>), 10);
    --height: calc(var(--height-value) * var(--spacing) * 1rem);
    height: var(--height);
}

[data-height="full"] {
    height: 100%;
}

[data-height="screen"] {
    height: 100vh;
}

[data-min-height] {
    --min-height-value: attr(data-min-height type(<number>), 10);
    --min-height: calc(var(--min-height-value) * var(--spacing) * 1rem);
    min-height: var(--min-height);
}

[data-min-height="full"] {
    min-height: 100%;
}

[data-min-height="screen"] {
    min-height: 100vh;
}

[data-gap] {
    --gap-v: attr(data-gap type(<number>), 3);
    --gap: calc(var(--gap-v) * var(--spacing) * 1rem);
    gap: var(--gap);
}

[data-span] {
    --span-v: attr(data-span type(<number>), 24);
}

[data-span],
[data-span-sm],
[data-span-md],
[data-span-lg],
[data-span-xl],
[data-span-2xl] {
    --width: calc(100% * var(--span-v) / 24 - var(--gap));
    width: var(--width);
}

[data-span]:last-child,
[data-span-sm]:last-child,
[data-span-md]:last-child,
[data-span-lg]:last-child,
[data-span-xl]:last-child,
[data-span-2xl]:last-child {
    --width: calc(100% * var(--span-v) / 24);
    width: var(--width);
}

[data-p] {
    --pv: attr(data-p type(<number>), 3);
}

[data-p],
[data-p-sm],
[data-p-md],
[data-p-lg],
[data-p-xl],
[data-p-2xl] {
    padding: calc(var(--pv) * var(--spacing) * 1rem);
}

[data-pt] {
    --pt: attr(data-pt type(<number>), 3);
}

[data-pt],
[data-pt-sm],
[data-pt-md],
[data-pt-lg],
[data-pt-xl],
[data-pt-2xl] {
    padding-top: calc(var(--pt) * var(--spacing) * 1rem);
}

[data-pb] {
    --pb: attr(data-pb type(<number>), 3);
}

[data-pb],
[data-pb-sm],
[data-pb-md],
[data-pb-lg],
[data-pb-xl],
[data-pb-2xl] {
    padding-bottom: calc(var(--pb) * var(--spacing) * 1rem);
}

[data-pl] {
    --pl: attr(data-pl type(<number>), 3);
}

[data-pl],
[data-pl-sm],
[data-pl-md],
[data-pl-lg],
[data-pl-xl],
[data-pl-2xl] {
    padding-left: calc(var(--pl) * var(--spacing) * 1rem);
}

[data-pr] {
    --pr: attr(data-pr type(<number>), 3);
}

[data-pr],
[data-pr-sm],
[data-pr-md],
[data-pr-lg],
[data-pr-xl],
[data-pr-2xl] {
    padding-right: calc(var(--pr) * var(--spacing) * 1rem);
}

[data-px] {
    --px: attr(data-px type(<number>), 3);
}

[data-px],
[data-px-sm],
[data-px-md],
[data-px-lg],
[data-px-xl],
[data-px-2xl] {
    padding-left: calc(var(--px) * var(--spacing) * 1rem);
    padding-right: calc(var(--px) * var(--spacing) * 1rem);
}

[data-py] {
    --py: attr(data-py type(<number>), 3);
}

[data-py],
[data-py-sm],
[data-py-md],
[data-py-lg],
[data-py-xl],
[data-py-2xl] {
    padding-top: calc(var(--py) * var(--spacing) * 1rem);
    padding-bottom: calc(var(--py) * var(--spacing) * 1rem);
}

[data-m] {
    --margin-v: attr(data-m type(<number>), 3);
}

[data-m],
[data-m-sm],
[data-m-md],
[data-m-lg],
[data-m-xl],
[data-m-2xl] {
    margin: calc(var(--margin-v) * var(--spacing) * 1rem);
}


[data-mt],
[data-mt-sm],
[data-mt-md],
[data-mt-lg],
[data-mt-xl],
[data-mt-2xl] {
    margin-top: calc(var(--mt) * var(--spacing) * 1rem);
}

[data-mb] {
    --mb: attr(data-mb type(<number>), 3);
}

[data-mb],
[data-mb-sm],
[data-mb-md],
[data-mb-lg],
[data-mb-xl],
[data-mb-2xl] {
    margin-bottom: calc(var(--mb) * var(--spacing) * 1rem);
}

[data-ml] {
    --ml: attr(data-ml type(<number>), 3);
}

[data-ml],
[data-ml-sm],
[data-ml-md],
[data-ml-lg],
[data-ml-xl],
[data-ml-2xl] {
    margin-left: calc(var(--ml) * var(--spacing) * 1rem);
}

[data-mr] {
    --mr: attr(data-mr type(<number>), 3);
}

[data-mr],
[data-mr-sm],
[data-mr-md],
[data-mr-lg],
[data-mr-xl],
[data-mr-2xl] {
    margin-right: calc(var(--mr) * var(--spacing) * 1rem);
}

[data-mx] {
    --mx: attr(data-mx type(<number>), 3);
}

[data-mx],
[data-mx-sm],
[data-mx-md],
[data-mx-lg],
[data-mx-xl],
[data-mx-2xl] {
    margin-left: calc(var(--mx) * var(--spacing) * 1rem);
    margin-right: calc(var(--mx) * var(--spacing) * 1rem);
}

[data-mx="auto"] {
    margin-left: auto;
    margin-right: auto;
}

[data-my] {
    --my: attr(data-my type(<number>), 3);
}

[data-my],
[data-my-sm],
[data-my-md],
[data-my-lg],
[data-my-xl],
[data-my-2xl] {
    margin-top: calc(var(--my) * var(--spacing) * 1rem);
    margin-bottom: calc(var(--my) * var(--spacing) * 1rem);
}

[data-my="auto"] {
    margin-top: auto;
    margin-bottom: auto;
}

[data-z] {
    --z-index: attr(data-z type(<number>), 0);
    z-index: var(--z-index);
}

/* Space utilities for controlling spacing between child elements */
[data-space-x] {
    --space-x: attr(data-space-x type(<number>), 3);
}

[data-space-x],
[data-space-x-sm],
[data-space-x-md],
[data-space-x-lg],
[data-space-x-xl],
[data-space-x-2xl] {
    >*+* {
        margin-left: calc(var(--space-x) * var(--spacing) * 1rem);
    }
}

[data-space-y] {
    --space-y: attr(data-space-y type(<number>), 3);
}

[data-space-y],
[data-space-y-sm],
[data-space-y-md],
[data-space-y-lg],
[data-space-y-xl],
[data-space-y-2xl] {
    >*+* {
        margin-top: calc(var(--space-y) * var(--spacing) * 1rem);
    }
}

/* Reverse space utilities */
[data-space-x-reverse] {
    --space-x: attr(data-space-x-reverse type(<number>), 3);
}

[data-space-x-reverse],
[data-space-x-reverse-sm],
[data-space-x-reverse-md],
[data-space-x-reverse-lg],
[data-space-x-reverse-xl],
[data-space-x-reverse-2xl] {
    >*+* {
        margin-right: calc(var(--space-x) * var(--spacing) * 1rem);
        margin-left: 0;
    }
}

[data-space-y-reverse] {
    --space-y: attr(data-space-y-reverse type(<number>), 3);
}

[data-space-y-reverse],
[data-space-y-reverse-sm],
[data-space-y-reverse-md],
[data-space-y-reverse-lg],
[data-space-y-reverse-xl],
[data-space-y-reverse-2xl] {
    >*+* {
        margin-bottom: calc(var(--space-y) * var(--spacing) * 1rem);
        margin-top: 0;
    }
}

@media screen and (min-width: 35.5em) {
    [data-gap-sm] {
        --gap-v: attr(data-gap-sm type(<number>), 3);
    }

    [data-p-sm] {
        --pv: attr(data-p-sm type(<number>), 3);
    }

    [data-pt-sm] {
        --pt: attr(data-pt-sm type(<number>), 3);
    }

    [data-pb-sm] {
        --pb: attr(data-pb-sm type(<number>), 3);
    }

    [data-pl-sm] {
        --pl: attr(data-pl-sm type(<number>), 3);
    }

    [data-pr-sm] {
        --pr: attr(data-pr-sm type(<number>), 3);
    }

    [data-px-sm] {
        --px: attr(data-px-sm type(<number>), 3);
    }

    [data-py-sm] {
        --py: attr(data-py-sm type(<number>), 3);
    }

    [data-m-sm] {
        --margin-v: attr(data-m-sm type(<number>), 3);
    }

    [data-mt-sm] {
        --mt: attr(data-mt-sm type(<number>), 3);
    }

    [data-mb-sm] {
        --mb: attr(data-mb-sm type(<number>), 3);
    }

    [data-ml-sm] {
        --ml: attr(data-ml-sm type(<number>), 3);
    }

    [data-mr-sm] {
        --mr: attr(data-mr-sm type(<number>), 3);
    }

    [data-mx-sm] {
        --mx: attr(data-mx-sm type(<number>), 3);
    }

    [data-mx-sm="auto"] {
        --mx: auto;
    }

    [data-my-sm] {
        --my: attr(data-my-sm type(<number>), 3);
    }

    [data-my-sm="auto"] {
        --my: auto;
    }

    [data-span-sm] {
        --span-v: attr(data-span-sm type(<number>), 24);
    }

    [data-space-x-sm] {
        --space-x: attr(data-space-x-sm type(<number>), 3);
    }

    [data-space-y-sm] {
        --space-y: attr(data-space-y-sm type(<number>), 3);
    }

    [data-space-x-reverse-sm] {
        --space-x: attr(data-space-x-reverse-sm type(<number>), 3);
    }

    [data-space-y-reverse-sm] {
        --space-y: attr(data-space-y-reverse-sm type(<number>), 3);
    }
}

@media screen and (min-width: 48em) {
    [data-gap-md] {
        --gap-v: attr(data-gap-md type(<number>), 3);
    }

    [data-p-md] {
        --pv: attr(data-p-md type(<number>), 3);
    }

    [data-pt-md] {
        --pt: attr(data-pt-md type(<number>), 3);
    }

    [data-pb-md] {
        --pb: attr(data-pb-md type(<number>), 3);
    }

    [data-pl-md] {
        --pl: attr(data-pl-md type(<number>), 3);
    }

    [data-pr-md] {
        --pr: attr(data-pr-md type(<number>), 3);
    }

    [data-px-md] {
        --px: attr(data-px-md type(<number>), 3);
    }

    [data-py-md] {
        --py: attr(data-py-md type(<number>), 3);
    }

    [data-m-md] {
        --margin-v: attr(data-m-md type(<number>), 3);
    }

    [data-mt-md] {
        --mt: attr(data-mt-md type(<number>), 3);
    }

    [data-mb-md] {
        --mb: attr(data-mb-md type(<number>), 3);
    }

    [data-ml-md] {
        --ml: attr(data-ml-md type(<number>), 3);
    }

    [data-mr-md] {
        --mr: attr(data-mr-md type(<number>), 3);
    }

    [data-mx-md] {
        --mx: attr(data-mx-md type(<number>), 3);
    }

    [data-mx-md="auto"] {
        --mx: auto;
    }

    [data-my-md] {
        --my: attr(data-my-md type(<number>), 3);
    }

    [data-my-md="auto"] {
        --my: auto;
    }

    [data-span-md] {
        --span-v: attr(data-span-md type(<number>), 24);
    }

    [data-space-x-md] {
        --space-x: attr(data-space-x-md type(<number>), 3);
    }

    [data-space-y-md] {
        --space-y: attr(data-space-y-md type(<number>), 3);
    }

    [data-space-x-reverse-md] {
        --space-x: attr(data-space-x-reverse-md type(<number>), 3);
    }

    [data-space-y-reverse-md] {
        --space-y: attr(data-space-y-reverse-md type(<number>), 3);
    }
}

@media screen and (min-width: 64em) {
    [data-gap-lg] {
        --gap-v: attr(data-gap-lg type(<number>), 3);
    }

    [data-p-lg] {
        --pv: attr(data-p-lg type(<number>), 3);
    }

    [data-pt-lg] {
        --pt: attr(data-pt-lg type(<number>), 3);
    }

    [data-pb-lg] {
        --pb: attr(data-pb-lg type(<number>), 3);
    }

    [data-pl-lg] {
        --pl: attr(data-pl-lg type(<number>), 3);
    }

    [data-pr-lg] {
        --pr: attr(data-pr-lg type(<number>), 3);
    }

    [data-px-lg] {
        --px: attr(data-px-lg type(<number>), 3);
    }

    [data-py-lg] {
        --py: attr(data-py-lg type(<number>), 3);
    }

    [data-m-lg] {
        --margin-v: attr(data-m-lg type(<number>), 3);
    }

    [data-mt-lg] {
        --mt: attr(data-mt-lg type(<number>), 3);
    }

    [data-mb-lg] {
        --mb: attr(data-mb-lg type(<number>), 3);
    }

    [data-ml-lg] {
        --ml: attr(data-ml-lg type(<number>), 3);
    }

    [data-mr-lg] {
        --mr: attr(data-mr-lg type(<number>), 3);
    }

    [data-mx-lg] {
        --mx: attr(data-mx-lg type(<number>), 3);
    }

    [data-mx-lg="auto"] {
        --mx: auto;
    }

    [data-my-lg] {
        --my: attr(data-my-lg type(<number>), 3);
    }

    [data-my-lg="auto"] {
        --my: auto;
    }

    [data-span-lg] {
        --span-v: attr(data-span-lg type(<number>), 24);
    }

    [data-space-x-lg] {
        --space-x: attr(data-space-x-lg type(<number>), 3);
    }

    [data-space-y-lg] {
        --space-y: attr(data-space-y-lg type(<number>), 3);
    }

    [data-space-x-reverse-lg] {
        --space-x: attr(data-space-x-reverse-lg type(<number>), 3);
    }

    [data-space-y-reverse-lg] {
        --space-y: attr(data-space-y-reverse-lg type(<number>), 3);
    }
}

@media screen and (min-width: 80em) {
    [data-gap-xl] {
        --gap-v: attr(data-gap-xl type(<number>), 3);
    }

    [data-span-xl] {
        --span-v: attr(data-span-xl type(<number>), 24);
    }

    [data-space-x-xl] {
        --space-x: attr(data-space-x-xl type(<number>), 3);
    }

    [data-space-y-xl] {
        --space-y: attr(data-space-y-xl type(<number>), 3);
    }

    [data-space-x-reverse-xl] {
        --space-x: attr(data-space-x-reverse-xl type(<number>), 3);
    }

    [data-space-y-reverse-xl] {
        --space-y: attr(data-space-y-reverse-xl type(<number>), 3);
    }
}

@media screen and (min-width: 120em) {
    [data-gap-2xl] {
        --gap-v: attr(data-gap-2xl type(<number>), 3);
    }

    [data-span-2xl] {
        --span-v: attr(data-span-2xl type(<number>), 24);
    }

    [data-space-x-2xl] {
        --space-x: attr(data-space-x-2xl type(<number>), 3);
    }

    [data-space-y-2xl] {
        --space-y: attr(data-space-y-2xl type(<number>), 3);
    }

    [data-space-x-reverse-2xl] {
        --space-x: attr(data-space-x-reverse-2xl type(<number>), 3);
    }

    [data-space-y-reverse-2xl] {
        --space-y: attr(data-space-y-reverse-2xl type(<number>), 3);
    }
}