[data-bg="transparent"] {
    background-color: transparent;
}

[data-bg="glass"] {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
}

[data-bg="surface-0"] {
    background-color: var(--surface-0);
}

[data-bg="surface-50"] {
    background-color: var(--surface-50);
}

[data-bg="surface-100"] {
    background-color: var(--surface-100);
}

[data-bg="surface-200"] {
    background-color: var(--surface-200);
}

[data-bg="surface-300"] {
    background-color: var(--surface-300);
}

[data-bg="surface-400"] {
    background-color: var(--surface-400);
}

[data-bg="surface-500"] {
    background-color: var(--surface-500);
}

[data-bg="surface-600"] {
    background-color: var(--surface-600);
}

[data-bg="surface-700"] {
    background-color: var(--surface-700);
}

[data-bg="surface-800"] {
    background-color: var(--surface-800);
}

[data-bg="surface-900"] {
    background-color: var(--surface-900);
}

[data-bg="gray-50"] {
    background-color: var(--gray-50);
}

[data-bg="gray-100"] {
    background-color: var(--gray-100);
}

[data-bg="gray-200"] {
    background-color: var(--gray-200);
}

[data-bg="gray-300"] {
    background-color: var(--gray-300);
}

[data-bg="gray-400"] {
    background-color: var(--gray-400);
}

[data-bg="gray-500"] {
    background-color: var(--gray-500);
}

[data-bg="gray-600"] {
    background-color: var(--gray-600);
}

[data-bg="gray-700"] {
    background-color: var(--gray-700);
}

[data-bg="gray-800"] {
    background-color: var(--gray-800);
}

[data-bg="gray-900"] {
    background-color: var(--gray-900);
}

[data-bg="primary-50"] {
    background-color: var(--primary-50);
}

[data-bg="primary-100"] {
    background-color: var(--primary-100);
}

[data-bg="primary-200"] {
    background-color: var(--primary-200);
}

[data-bg="primary-300"] {
    background-color: var(--primary-300);
}

[data-bg="primary-400"] {
    background-color: var(--primary-400);
}

[data-bg="primary-500"] {
    background-color: var(--primary-500);
}

[data-bg="primary-600"] {
    background-color: var(--primary-600);
}

[data-bg="primary-700"] {
    background-color: var(--primary-700);
}

[data-bg="primary-800"] {
    background-color: var(--primary-800);
}

[data-bg="primary-900"] {
    background-color: var(--primary-900);
}

[data-bg="bluegray-50"] {
    background-color: var(--bluegray-50);
}

[data-bg="bluegray-100"] {
    background-color: var(--bluegray-100);
}

[data-bg="bluegray-200"] {
    background-color: var(--bluegray-200);
}

[data-bg="bluegray-300"] {
    background-color: var(--bluegray-300);
}

[data-bg="bluegray-400"] {
    background-color: var(--bluegray-400);
}

[data-bg="bluegray-500"] {
    background-color: var(--bluegray-500);
}

[data-bg="bluegray-600"] {
    background-color: var(--bluegray-600);
}

[data-bg="bluegray-700"] {
    background-color: var(--bluegray-700);
}

[data-bg="bluegray-800"] {
    background-color: var(--bluegray-800);
}

[data-bg="bluegray-900"] {
    background-color: var(--bluegray-900);
}

[data-color="surface-0"] {
    color: var(--surface-0);
}

[data-color="surface-50"] {
    color: var(--surface-50);
}

[data-color="surface-100"] {
    color: var(--surface-100);
}

[data-color="surface-200"] {
    color: var(--surface-200);
}

[data-color="surface-300"] {
    color: var(--surface-300);
}

[data-color="surface-400"] {
    color: var(--surface-400);
}

[data-color="surface-500"] {
    color: var(--surface-500);
}

[data-color="surface-600"] {
    color: var(--surface-600);
}

[data-color="surface-700"] {
    color: var(--surface-700);
}

[data-color="surface-800"] {
    color: var(--surface-800);
}

[data-color="surface-900"] {
    color: var(--surface-900);
}

[data-color="primary"] {
    color: var(--primary-500);
}